.ShoppingCartItem {
  width: 600px;
}

.ShoppingCartItem img {
  height: 150px;
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderedDisplay {
  margin: 10px;
  position: absolute;
  bottom: -10px;
  right: 0;
}
